<td width="31" class="text-center">
  <a href="#" class="btnChapterStatus">
    {{#if read}}
      <i class="fa fa-lg fa-check text-success"></i>
    {{else}}
      <i class="fa fa-lg fa-times text-danger"></i>
    {{/if}}
  </a>
</td>

<td>
  <a href="#chapter/{{plugin}}/{{comic}}/{{chapter}}">
    <strong>
      {{number}}{{#if title}}: {{title}}{{/if}}
    </strong>
  </a>
</td>

<td class="text-right">
  <a>
    <i class="fa fa-lg fa-download"></i>
  </a>
</td>
