<div class="col-xs-6">

  <div style="position: relative;">

    <img id="thumbnail" src="{{thumbnail}}" alt="{{title}}" width="100%" height="auto" />

    {{flag language style='position: absolute; top: 2px; right: 2px; font-size: 25px;'}}

  </div>

</div>

<div class="col-xs-6">

  <dl>

    <dt>{{i18n 'title'}}:</dt>
    <dd>{{title}}</dd>

    <dt>{{i18n 'author'}}:</dt>
    <dd>{{author}}</dd>

    <dt>{{i18n 'artist'}}:</dt>
    <dd>{{artist}}</dd>

    <dt>{{i18n 'release'}}:</dt>
    <dd>{{release}}</dd>

    <dt>{{i18n 'description'}}:</dt>
    <dd>{{string description truncate=300}}</dd>

  </dl>

</div>
