<div class="row">

  <div class="col-lg-5 col-md-6 col-sm-7" id="comicSummary">

    <div class="row">

      <div class="col-xs-6">

        <div style="position: relative;">

          <img id="thumbnail" src="{{comic.thumbnail}}" alt="{{comic.title}}" width="100%" height="auto" />

          {{flag comic.language style='position: absolute; top: 2px; right: 2px; font-size: 25px;'}}

        </div>

      </div>

      <div class="col-xs-6">

        <dl>

          <dt>{{i18n 'title'}}:</dt>
          <dd>{{comic.title}}</dd>

          <dt>{{i18n 'author'}}:</dt>
          <dd>{{comic.author}}</dd>

          <dt>{{i18n 'artist'}}:</dt>
          <dd>{{comic.artist}}</dd>

          <dt>{{i18n 'release'}}:</dt>
          <dd>{{comic.release}}</dd>

          <dt>{{i18n 'description'}}:</dt>
          <dd>{{string comic.description truncate=250}}</dd>

        </dl>

      </div>

    </div>

  </div>

  <div class="col-lg-7 col-md-6 col-sm-5 pull-right">

    <table class="table table-condensed table-striped">

      <thead>
        <tr>
          <th>
            <!-- toggle status button -->
          </th>
          <th>
            {{i18n 'title'}}
          </th>
          <th colspan="2" class="text-right">
            {{i18n 'action' count=2}}
          </th>
        </tr>
      </thead>

      <tbody></tbody>

    </table>

  </div>

</div>
