<td width="31" class="text-center">
  <a href="#" class="btnChapterStatus">
    {{#if read}}
      <i class="fa fa-lg fa-check text-success"></i>
    {{else}}
      <i class="fa fa-lg fa-times text-danger"></i>
    {{/if}}
  </a>
</td>

<td>
  <a href="#chapter/{{plugin}}/{{comic}}/{{id}}">
    <strong>
      {{number}}{{#if title}}: {{title}}{{/if}}
    </strong>
  </a>
</td>

<td class="text-right">

  {{#if downloadError}}

    <a href="#queue">
      <i class="text-danger fa fa-lg fa-exclamation-triangle"></i>
    </a>

  {{else}}

    {{#compare downloadProgress '>=' 100}}

      <a href="#queue">
        <i class="text-success fa fa-lg fa-check"></i>
      </a>

    {{else}}{{#compare downloadProgress '===' 0}}

      <a href="#queue">
        <i class="fa fa-circle-o-notch fa-spin fa-lg fa-fw"></i>
      </a>

    {{else}}{{#compare downloadProgress '>=' 0}}

      <a href="#queue">
        <b>{{downloadProgress}}%</b>
      </a>

    {{else}}

      <a href="#" class="btnDownloadChapter">
        <i class="fa fa-lg fa-download"></i>
      </a>

    {{/compare}}{{/compare}}{{/compare}}

  {{/if}}

</td>
