<div class="plugin-gallery" id="{{plugin.id}}">

  <h3 class="title text-uppercase">
    {{#if plugin.thumbnail}}
      <img src="{{plugin.thumbnail}}" alt="{{plugin.name}}" />
    {{else}}
      {{plugin.name}}
    {{/if}}
  </h3>

  <div class="justified-gallery"></div>

</div>
