<div style="background-color: #2D2D2D; height: 50px; border-bottom: 1px #242424 solid;" >
  <!-- TODO add header image -->
</div>

<div class="container-fluid" style="margin-top: 15px;">
  <div class="row">

    <div class="col-lg-5 col-md-6 col-sm-7" style="margin-bottom: 15px;">
      <div class="input-group input-group-sm">
        <span class="input-group-addon">
          <strong class="text-uppercase">
            {{i18n 'search'}}
          </strong>
        </span>
        <input type="text" class="form-control" placeholder=". . ." id="searchBox" />
      </div>
    </div>

    <div class="col-lg-7 col-md-6 col-sm-5" style="margin-bottom: 15px;">
      <div class="btn-toolbar pull-right" role="toolbar" id="mainToolbar">

        <div class="btn-group" role="group">
          <a href="#" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="bottom" data-container="body" title="{{i18n 'home'}}">
            <i class="fa fa-lg fa-home"></i>
          </a>
        </div>

        <div class="btn-group" role="group">
          <a href="#favorites" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="bottom" data-container="body" title="{{i18n 'favorites'}}">
            <i class="fa fa-lg fa-star"></i>
          </a>
        </div>

        <div class="btn-group" role="group">
          <a href="#queue" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="bottom" data-container="body" title="{{i18n 'queue'}}">
            <i class="fa fa-lg fa-bars"></i>
          </a>
        </div>

        <div class="btn-group" role="group">
          <a href="#plugins" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="bottom" data-container="body" title="{{i18n 'plugins'}}">
            <i class="fa fa-lg fa-cubes"></i>
          </a>
        </div>

        <div class="btn-group" role="group">
          <a href="#options" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="bottom" data-container="body" title="{{i18n 'options'}}">
            <i class="fa fa-lg fa-cog"></i>
          </a>
        </div>

      </div>
    </div>

  </div>
</div>