<div id="headerImg" style="background-color: #2D2D2D; height: 50px; border-bottom: 1px #242424 solid; margin-bottom: 60px;" >
  <!-- TODO add header image -->
</div>

<div class="container-fluid" id="headerBar">
  <div class="row">

    <div class="col-lg-5 col-md-6 col-sm-7">
      <div class="input-group input-group-sm" style="margin-bottom: 15px;">
        <span class="input-group-addon">
          <strong class="text-uppercase">
            {{i18n 'search'}}
          </strong>
        </span>
        <input type="text" class="form-control" placeholder=". . ." id="searchBox" />
      </div>
    </div>

    <div class="col-lg-7 col-md-6 col-sm-5">
      <div class="btn-toolbar pull-right" role="toolbar" id="mainToolbar">

        <div class="btn-group" role="group">
          <a href="#home" class="btn btn-sm btn-default" title="{{i18n 'home'}}">
            <i class="fa fa-lg fa-home"></i>
          </a>
        </div>

        <div class="btn-group" role="group">
          <a href="#favorites" class="btn btn-sm btn-default" title="{{i18n 'favorite' count=2}}">
            <i class="fa fa-lg fa-star"></i>
          </a>
        </div>

        <div class="btn-group" role="group">
          <a href="#queue" class="btn btn-sm btn-default" title="{{i18n 'queue'}}">
            <i class="fa fa-lg fa-bars"></i>
          </a>
        </div>

        <div class="btn-group" role="group">
          <a href="#plugins" class="btn btn-sm btn-default" title="{{i18n 'plugin' count=2}}">
            <i class="fa fa-lg fa-cubes"></i>
          </a>
        </div>

        <div class="btn-group" role="group">
          <a href="#options" class="btn btn-sm btn-default" title="{{i18n 'option' count=2}}">
            <i class="fa fa-lg fa-cog"></i>
          </a>
        </div>

      </div>
    </div>

  </div>
</div>
