<div class="text-right">

  <select multiple="multiple">

    {{#each languages}}

      <option value="{{this}}" selected>
        {{i18n this root='languages'}}
      </option>

    {{/each}}

  </select>

</div>

{{#unless plugins.length}}

  <div class="row">

    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">

      <div class="alert alert-info alert-dismissible" role="alert" style="margin-bottom: 15px">

        <button type="button" class="close" data-dismiss="alert" aria-label="{{i18n 'close'}}">
          <span aria-hidden="true">&times;</span>
        </button>

        <strong>{{i18n 'hey'}}!</strong> {{{i18n 'noPluginsWarning'}}}

      </div>

    </div>

  </div>

{{/unless}}

<div id="galleries"></div>
