<a href="#comic/{{plugin.$plugin}}/{{comic.$comic}}" class="comic-thumbnail" id="{{comic.$comic}}" data-language="{{comic.language}}" data-plugin="{{plugin.$plugin}}">

  <img alt="{{comic.title}}" src="{{comic.thumbnail}}" />

  {{flag comic.language}}

</a>