<a href="#comic/{{plugin.id}}/{{comic.id}}" class="comic-thumbnail" id="{{comic.id}}" data-language="{{comic.language}}" data-plugin="{{plugin.id}}">

  <img alt="{{comic.title}}" src="{{comic.thumbnail}}" />

  {{flag comic.language}}

</a>
